html{
    background-image: linear-gradient(
        to right,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ), url('images/backgrounds/wood.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    max-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
#app{
    animation-duration: 1s;
    animation-name: fade-in;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}